/* Fix the github login button */
.login-button {
  text-decoration: none;
}

.login-button .login-button-svg {
  margin-right: 10px;
}

/* Increase paper padding */
.app-paper {
  padding: 60px;
}

/* 2 inputs on same line */
.sameline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Right margin for input in .sameline */
.sameline .input-margin {
  margin: 0 20px 0 0;
}

/* Lighter label so you can actually see when focused */
.sameline label[data-shrink="true"] {
  color: #dddddd;
}

/* Back button */
.back-btn {
  position: absolute;
  left: 2%;
  top: 30px;
}
