body {
  margin: 0;
  padding: 0;
}

.app-paper {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  transition: margin-top 0.5s ease;
  padding: 16px;
}

@media (max-width: 768px) {
  .app-paper:first-child {
    margin-top: 0;
  }
  .app-paper {
    margin-top: 8px;
  }
}