# The ID of your GitHub App
WEBHOOK_SECRET=development
APP_ID=14868

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=https://smee.io/0mX04xPFPMpatLS
GITHUB_PRIVATE_KEY=`awk '{printf "%s\\n", $0}' ./private-key.pem`

PORT=5678

# Get these values from https://github.com/organizations/hellomouse/settings/apps/notification-service at the bottom of the page
CLIENT_ID='';
CLIENT_SECRET='';
